html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
	overflow: hidden;
}

.grayscale-tile {
	filter: grayscale(100%);
}

.glass {
	background: rgba(0, 0, 0, 0.3);
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
}

.button {
	border-radius: 0.8rem;
	padding: 0.14rem 0.6rem;
	transition: filter 0.2s ease;
}

.button:hover {
	filter: brightness(1.4);
}
